<a href="https://colab.research.google.com/github/shravanimamidala/hello_world/blob/master/FinalHack_Version1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Objectives**

Problem Statement

**To get current working directory**

In [1]:
import os
os.getcwd()

'/content'

In [2]:
#Module for importing files
import pandas as pd

#Module to ignore the warnings
import warnings
warnings.filterwarnings('ignore')

Here we have list of Null values as [" ","na","NA"] because Null values can be empty or may be represented with NA

In [3]:
broadband_data=pd.read_csv("/content/drive/MyDrive/FinalHack/broadband_data.csv",na_values=[" ","na","NA"])
outage_data=pd.read_csv("/content/drive/MyDrive/FinalHack/outage_data.csv",na_values=[" ","na","NA"])
report_data=pd.read_csv("/content/drive/MyDrive/FinalHack/report_data.csv",na_values=[" ","na","NA"])
server_data=pd.read_csv("/content/drive/MyDrive/FinalHack/server_data.csv",na_values=[" ","na","NA"])
train_data=pd.read_csv("/content/drive/MyDrive/FinalHack/train_data.csv",na_values=[" ","na","NA"])
test_data=pd.read_csv("/content/drive/MyDrive/FinalHack/test_data.csv",na_values=[" ","na","NA"])

#####Copying the train and test data for future use

In [ ]:
test_data_copy=test_data.copy()
train_data_copy=train_data.copy()

# **Understanding the Data**

**Writing a custom function with all the Data Analysis to understand the data**

In [4]:
def Data_Analysis(data_file):
  print("CHECKING THE DIMENSIONS ")
  print("=========================================================== ")
  print(data_file.shape)
  print("CHECKING THE COLUMNS OF DATASET ")
  print("=========================================================== ")
  print(data_file.columns)
  print("                                           ")
  print("GETTING SUMMARY OF DATASET WHICH ARE NUMERICAL ")
  print("=========================================================== ")
  print(data_file.describe())
  print("                                           ")
  print("GETTING SUMMARY OF DATASET WHICH ARE CATEGORICAL ")
  print("=========================================================== ")
  print(data_file.describe(include='object'))
  print("GETTING DATA TYPES OF DATA SET ")
  print("=========================================================== ")
  print(data_file.dtypes)
  print("GETTING UNIQUE ELEMENTS OF DATASET COLUMN WISE ")
  print("=========================================================== ")
  print(data_file.nunique())
  print("GETTING NULL VALUES OF DATASET COLUMN WISE ")
  print("=========================================================== ")
  print(data_file.isnull().sum())

In [5]:
print('About broadband_data:\n')
Data_Analysis(broadband_data)
print("+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++")
print('About outage_data:\n')
Data_Analysis(outage_data)
print("+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++")
print('About report_data:\n')
Data_Analysis(report_data)
print("+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++")
print('About server_data:\n')
Data_Analysis(server_data)
print("+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++")
print('About train_data:\n')
Data_Analysis(train_data)
print("+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++")
print('About test_data:\n')
Data_Analysis(test_data)

About broadband_data:

CHECKING THE DIMENSIONS
===========================================================
(21076, 2)
CHECKING THE COLUMNS OF DATASET
===========================================================
Index(['id', 'broadband_type'], dtype='object')

GETTING SUMMARY OF DATASET WHICH ARE NUMERICAL
===========================================================
                 id
count  21076.000000
mean    9255.869330
std     5366.730222
min        1.000000
25%     4599.750000
50%     9256.500000
75%    13907.250000
max    18552.000000

GETTING SUMMARY OF DATASET WHICH ARE CATEGORICAL
===========================================================
          broadband_type
count              21076
unique                10
top     broadband_type_8
freq               10268
GETTING DATA TYPES OF DATA SET
===========================================================
id                 int64
broadband_type    object
dtype: object
GETTING UNIQUE ELEMENTS OF DATASET COLUMN WISE
===========================================================
id                18552
broadband_type       10
dtype: int64
GETTING NULL VALUES OF DATASET COLUMN WISE
===========================================================
id                0
broadband_type    0
dtype: int64
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
About outage_data:

CHECKING THE DIMENSIONS
===========================================================
(18552, 2)
CHECKING THE COLUMNS OF DATASET
===========================================================
Index(['id', 'outage_type'], dtype='object')

GETTING SUMMARY OF DATASET WHICH ARE NUMERICAL
===========================================================
                 id
count  18552.000000
mean    9276.500000
std     5355.645433
min        1.000000
25%     4638.750000
50%     9276.500000
75%    13914.250000
max    18552.000000

GETTING SUMMARY OF DATASET WHICH ARE CATEGORICAL
===========================================================
          outage_type
count           18552
unique              5
top     outage_type_2
freq             8737
GETTING DATA TYPES OF DATA SET
===========================================================
id              int64
outage_type    object
dtype: object
GETTING UNIQUE ELEMENTS OF DATASET COLUMN WISE
===========================================================
id             18552
outage_type        5
dtype: int64
GETTING NULL VALUES OF DATASET COLUMN WISE
===========================================================
id             0
outage_type    0
dtype: int64
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
About report_data:

CHECKING THE DIMENSIONS
===========================================================
(58671, 3)
CHECKING THE COLUMNS OF DATASET
===========================================================
Index(['id', 'log_report_type', 'volume'], dtype='object')

GETTING SUMMARY OF DATASET WHICH ARE NUMERICAL
===========================================================
                 id        volume
count  58671.000000  58671.000000
mean    9271.368905      9.685296
std     5355.142878     27.314433
min        1.000000      1.000000
25%     4658.500000      1.000000
50%     9275.000000      2.000000
75%    13903.000000      7.000000
max    18552.000000   1310.000000

GETTING SUMMARY OF DATASET WHICH ARE CATEGORICAL
===========================================================
            log_report_type
count                 58671
unique                  386
top     log_report_type_312
freq                   5267
GETTING DATA TYPES OF DATA SET
===========================================================
id                  int64
log_report_type    object
volume              int64
dtype: object
GETTING UNIQUE ELEMENTS OF DATASET COLUMN WISE
===========================================================
id                 18552
log_report_type      386
volume               341
dtype: int64
GETTING NULL VALUES OF DATASET COLUMN WISE
===========================================================
id                 0
log_report_type    0
volume             0
dtype: int64
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
About server_data:

CHECKING THE DIMENSIONS
===========================================================
(31170, 2)
CHECKING THE COLUMNS OF DATASET
===========================================================
Index(['id', 'transit_server_type'], dtype='object')

GETTING SUMMARY OF DATASET WHICH ARE NUMERICAL
===========================================================
                 id
count  31170.000000
mean    9267.735258
std     5363.817181
min        1.000000
25%     4625.250000
50%     9287.500000
75%    13915.000000
max    18552.000000

GETTING SUMMARY OF DATASET WHICH ARE CATEGORICAL
===========================================================
           transit_server_type
count                    31170
unique                      53
top     transit_server_type_11
freq                      7888
GETTING DATA TYPES OF DATA SET
===========================================================
id                      int64
transit_server_type    object
dtype: object
GETTING UNIQUE ELEMENTS OF DATASET COLUMN WISE
===========================================================
id                     18552
transit_server_type       53
dtype: int64
GETTING NULL VALUES OF DATASET COLUMN WISE
===========================================================
id                     0
transit_server_type    0
dtype: int64
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
About train_data:

CHECKING THE DIMENSIONS
===========================================================
(5904, 3)
CHECKING THE COLUMNS OF DATASET
===========================================================
Index(['id', 'area_code', 'outage_duration'], dtype='object')

GETTING SUMMARY OF DATASET WHICH ARE NUMERICAL
===========================================================
                 id  outage_duration
count   5904.000000      5904.000000
mean    9323.841972         0.450203
std     5338.654942         0.666642
min        1.000000         0.000000
25%     4763.500000         0.000000
50%     9330.500000         0.000000
75%    13932.750000         1.000000
max    18550.000000         2.000000

GETTING SUMMARY OF DATASET WHICH ARE CATEGORICAL
===========================================================
       area_code
count       5904
unique       876
top     area_821
freq          67
GETTING DATA TYPES OF DATA SET
===========================================================
id                  int64
area_code          object
outage_duration     int64
dtype: object
GETTING UNIQUE ELEMENTS OF DATASET COLUMN WISE
===========================================================
id                 5904
area_code           876
outage_duration       3
dtype: int64
GETTING NULL VALUES OF DATASET COLUMN WISE
===========================================================
id                 0
area_code          0
outage_duration    0
dtype: int64
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
About test_data:

CHECKING THE DIMENSIONS
===========================================================
(1477, 2)
CHECKING THE COLUMNS OF DATASET
===========================================================
Index(['id', 'area_code'], dtype='object')

GETTING SUMMARY OF DATASET WHICH ARE NUMERICAL
===========================================================
                 id
count   1477.000000
mean    9028.037915
std     5386.914923
min        8.000000
25%     4236.000000
50%     8810.000000
75%    13742.000000
max    18539.000000

GETTING SUMMARY OF DATASET WHICH ARE CATEGORICAL
===========================================================
       area_code
count       1477
unique       531
top     area_734
freq          18
GETTING DATA TYPES OF DATA SET
===========================================================
id            int64
area_code    object
dtype: object
GETTING UNIQUE ELEMENTS OF DATASET COLUMN WISE
===========================================================
id           1477
area_code     531
dtype: int64
GETTING NULL VALUES OF DATASET COLUMN WISE
===========================================================
id           0
area_code    0
dtype: int64

Checking Dimensions and Columns of each data set

In [ ]:
print('Dimensions of train_attrition:\n',Train_data_attrition.shape,'\n')
print('Dimensions of test_attrition:\n',Test_data_attrition.shape,'\n')
print('Dimensions of train_work:\n',Train_data_work.shape,'\n')
print('mDimensions of  test_work:\n',Test_data_work.shape,'\n')
print('Dimensions of Employee:\n',Employee_data.shape,'\n')